@import "../base/commons.scss";

#contents {
  @include WH(100vw, 100vh);

  .videoSection {
    @include WH(100vw, 100vh);
    @include apsolutePos(0, 0, 0, 0, $transform: false);
    .FrontVideo {
      @include WH(100vw, 100vh);

      video {
        @include MinWH(100%, 100%);
        @include apsolutePos(50%, none, none, 50%, $transform: false);
        transform: translate(-50%, -50%);
      }
    }
    .videoTitle {
      @include WH(100%, auto);
      @include apsolutePos(25%, none, none, 50%, $transform: true);
      max-width: 1170px;
      text-align: left;
      h2 {
        font-size: 76px;
        color: white;
        font-weight: 600;
      }
    }
  }
  .dropDownSection {
    @include apsolutePos(none, none, 0, 50%, $transform: true);
    z-index: 1;
    .container {
      @include MinWH(1170px, auto);
      @include WH(100%, 130px);
      border-radius: 30px 30px 0 0;
      background-color: #4b4b4b;
      //   @include commonFlex(column wrap, space-around, flex-start); 미디어쿼리때 세로줄
      @include commonFlex(row wrap, center, center);
      column-gap: 30px;

      select,
      input,
      select option {
        @include WH(300px, 55px);
        font-size: 20px;
        border: 0;
        font-weight: 500;
        border-bottom: 1px solid #818181;
      }
      select {
        background: transparent;
        background-image: url(/public/src/resources/images/icons/form-select-arrow-white.png);
        background-repeat: no-repeat;
        background-position-x: 92%;
        background-position-y: 25px;
        background-size: 16px 10px;
        color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        option {
          color: #4b4b4b;
        }
      }
      input {
        background: transparent;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      .searchBtn {
        @include WH(60px, 60px);
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        img {
          max-width: 100%;
          width: 100%;
          border: 0;
          border-style: none;
        }
      }
    }
  }
}
